

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 7fr;
    margin: 0;
}

.topNav {
    background-color: rgb(127, 208, 255);
    color: black;
    z-index: 3;
    border-width: 2px;
    border-color: black;
    border-bottom-style: solid;
    padding-left: 3rem;
}

.pageTitle{
    font-size: 3rem;
    font-weight: bolder;
}

.bottom {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#left-bottom{
    background-color: rgb(216, 216, 216);
    border-right-style: solid;
    border-width: 2px;
    border-color: black;
    z-index: 2;
    padding: 20px;
}

.projects-head, #project-name {
    font-size: 1.5rem;
    font-weight: bold;
}
#project-list{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2rem;
    grid-auto-rows: 2rem;
    padding-top: 2rem;
    height: 15rem;
    overflow: scroll;
    margin-top: 2rem;
    padding-bottom: 2rem;
    gap: 1rem;
}

.project-name {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-content: center;
    justify-content: center;
}

.item-list {
    display: grid;
    grid-auto-rows: 3rem;
    gap: 1rem;
    height: 75%;
    overflow: scroll;
}

.add-btn {
    height: 3rem;
    width: auto;
    font-size: 1rem;
    background-color: rgb(127, 208, 255);
    border-radius: 10px;
    border: 2px solid black;
}
#add-project {
    position: absolute;
    bottom: 2%;
    left: 2%;
}

#add-item {
    position: absolute;
    bottom: 2%;
    left: 26%;
}

#right-bottom{
    background-color: rgb(251, 251, 251);
    padding: 20px;
}

.project-description{
    font-style: italic;
}

#project-form{
    display: none;
    position: absolute;
}
#item-form{
    display: none;
    position: absolute;
}

#edit-form{
    display: none;
    position: absolute;
}

.add-form-container{
    left: 30%;  
    width: 40%;
    top: 30%;
    height: 40%;
    background-color: rgb(127, 208, 255);
    align-items: center;
    justify-items: center;
    border-radius: 8px;
    border: 2px solid black;
    box-shadow: 0 5px 5px black;
}

.add-form, .edit-form{
    display: grid;
    height: 80%;
    width: 90%;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    padding: 5%;
    row-gap: 5%;

}

#add-project-name, #add-item-name{
    height: 16px;
}

.formBtns{
    grid-column: 1 / span 2;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.todoContainer {
    border: 2px solid black;
    border-radius: 8px;
    padding-left: 1rem;
    padding-right: 1rem;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr 1fr;
    height: 3rem;
}

.todoComp {
    justify-self: center;
    align-self: center;
    height: 1.5rem;
    width: 1.5rem;
}

.todoBtn {
    height: 1.5rem;
    justify-self: center;
    align-self: center;
}

#itemInfoContainer{
    display: none;
    position: absolute;
    left: 30%;  
    width: 40%;
    top: 30%;
    height: 40%;
    background-color: rgb(127, 208, 255);
    align-items: center;
    justify-items: center;
    border-radius: 8px;
    border: 2px solid black;

}

#itemInfo {
    display: grid;
    height: 80%;
    width: 90%;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    padding: 5%;
    row-gap: 5%;
}